
// Fonts
$font_principal: "Plus Jakarta Sans", sans-serif;

// Sizes of Media Queries
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
/// Primary
$lime: hsl(61, 70%, 52%);
$red: hsl(4, 69%, 50%);

/// Neutral
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

$separation: 5rem;

