@use 'base/variables' as v;
@use 'base/mixins' as m;

.container_main {
    
    @media (min-width: 950px) {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}